[init]
    defaultBranch = main
[user]
    email = hojong.jjh@gmail.com
    name = Jongho Jeon
[core]
    editor = vim
    pager = delta --color-only | less --tabs=4 -RFX
    # autocrlf: https://docs.github.com/en/get-started/getting-started-with-git/configuring-git-to-handle-line-endings#about-line-endings
    autocrlf = input 
    eol = lf
[pull]
    ff = only
[credential "https://github.com"]
    helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper = !/usr/bin/gh auth git-credential
[interactive]
    diffFilter = delta --color-only
[add.interactive]
    useBuiltin = false # required for git 2.37.0
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    line-numbers = true
    side-by-side = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
# [color]
#     ui = true
# [color "diff-highlight"]
#     oldNormal = red bold
#     oldHighlight = red bold 52
#     newNormal = green bold
#     newHighlight = green bold 22
# [color "diff"]
#     meta = 11
#     frag = magenta bold
#     func = 146 bold
#     commit = yellow bold
#     old = red bold
#     new = green bold
#     whitespace = red reverse

