[init]
    defaultBranch = main
[user]
    email = hojong.jjh@gmail.com
    name = Jongho Jeon
[core]
    editor = vim
    pager = diff-so-fancy | less --tabs=4 -RFX
    # autocrlf: https://docs.github.com/en/get-started/getting-started-with-git/configuring-git-to-handle-line-endings#about-line-endings
    autocrlf = input 
    eol = lf
[pull]
    ff = only

[credential "https://github.com"]
    helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper = !/usr/bin/gh auth git-credential

[interactive]
    diffFilter = diff-so-fancy --patch
[color]
    ui = true
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    meta = 11
    frag = magenta bold
    func = 146 bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
