{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

DIR=$(chezmoi source-path)

sudo launchctl remove userkeymapping
sudo chown root $DIR/hidutil-userkeymapping.plist
sudo launchctl load $DIR/hidutil-userkeymapping.plist
{{ end -}}

