{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
brew install git ripgrep
brew install neovim
{{ end -}}
{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

sudo apt install neovim
{{ end -}}

