{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

sudo launchctl remove userkeymapping
sudo chown root ./hidutil-userkeymapping.plist
sudo launchctl load ./hidutil-userkeymapping.plist
{{ end -}}

